CMakefile.txt.user
build/
obj-*
debian/*.log
debian/*.substvars
debian/stamp-*
debian/.debhelper/
debian/libopendsp/
debian/libopenvlbi/
debian/libopendsp-dev/
debian/libopenvlbi-dev/
debian/libopenvlbi-doc/
debian/openvlbi-doc/
debian/openvlbi-bin/
debian/openvlbi-data/
debian/openvlbi/
debian/tmp
debian/files
