version: 2

jobs:
  build:
    machine:
      image: ubuntu-2004:202101-01
    working_directory: ~/OpenVLBI
    steps:
      - checkout
      - run:
          name: build
          command: |
            ./scripts/build.sh
            mkdir -p tests
            scripts/json_to_image.sh scripts/coverage.json tests/synthesis_delay_coverage
            scripts/json_to_image.sh scripts/raw.json tests/synthesis_delay_raw
            scripts/json_to_image.sh scripts/idft.json tests/synthesis_delay_idft

workflows:
  version: 2
  build:
    jobs:
      - build
