Source: libopenvlbi
Section: misc
Priority: optional
Maintainer: Ilia Platone <info@iliaplatone.com>
Build-Depends: debhelper (>= 8.1.3~),
 cdbs,
 cmake (>= 2.4.7),
 libindi-dev (>= 1.8),
Standards-Version: 3.9.5
Homepage: http://iliaplatone.github.io/OpenVLBI/
Vcs-Git: git://github.com/iliaplatone/OpenVLBI.git

Package: libopenvlbi
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
 openvlbi-bin (>= ${source:Version})
Pre-Depends: ${misc:Pre-Depends}
Description: OpenVLBI Correlator library
    OpenVLBI is an open source library for astronomical interferometers.
    with OpenVLBI astronomers can join together more telescopes to observe    
    celestial objects at great resolution.
    OpenVLBI can be used with radio antennas or optical sensors. 
    A test and multi-contextual client/server applications are included into
    openvlbi-bin, and libopenvlbi contains the correlator library.
    An INDI client is included into openvlbi-bin which connects to one or more 
    INDI servers that observe in realtime. 

Package: openvlbi-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenvlbi (= ${source:Version}), libindi1 (>= 1.8)
Description: OpenVLBI Correlator library - client applications
    OpenVLBI is an open source library for astronomical interferometers.
    with OpenVLBI astronomers can join together more telescopes to observe    
    celestial objects at great resolution.
    OpenVLBI can be used with radio antennas or optical sensors. 
    A test and multi-contextual client/server applications are included into
    openvlbi-bin, and libopenvlbi contains the correlator library.
    An INDI client is included into openvlbi-bin which connects to one or more 
    INDI servers that observe in realtime. 
