name: Linux

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        container: ["ubuntu", "debian", "debian-386", "fedora"]

    container:
      image: ghcr.io/iliaplatone/${{ matrix.container }}

    steps:
      - name: Get Sources
        uses: actions/checkout@v2
        with:
          path: 'OpenVLBI'

      - name: Build & Install
        run: |
            cd OpenVLBI
            sudo ./scripts/build.sh

      - name: Run Tests
        run: |
            cd OpenVLBI
            mkdir -p tests
            scripts/json_to_image.sh scripts/coverage.json
            scripts/json_to_image.sh scripts/raw.json
            scripts/json_to_image.sh scripts/idft.json

      - name: Debs
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: OpenVLBI/packages

      - name: Tests
        uses: actions/upload-artifact@v4
        with:
          name: tests
          path: OpenVLBI/tests
